
/*
em  Relative to the font-size of the element (2em means 2 times the size of the current font) 
ex  Relative to the x-height of the current font (rarely used)  
ch  Relative to the width of the "0" (zero) 
rem Relative to font-size of the root element 
vw  Relative to 1% of the width of the viewport*  
vh  Relative to 1% of the height of the viewport* 
vmin  Relative to 1% of viewport's* smaller dimension 
vmax  Relative to 1% of viewport's* larger dimension  
% Relative to the parent element
*/

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=KoHo:wght@200;700&family=Share+Tech&display=swap');

:root {
  --font-primary: 'Jura', sans-serif;
  --font-secondary: 'KoHo', sans-serif;
  --font-code: 'Share Tech', sans-serif;
  --bg: linear-gradient(to bottom left, #0071b5, 80%, #FFFFFF);;
  --bg-color: #0071b5;
  --bg-color-transparent: #0071b580;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #333333;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--bg);
  display: flex;
  flex-flow: row;
  height: 100vh; /* 100% of the height of the viewport */
  color: var(--font-color);
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-size: 4.5rem;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
}

h3 {
  font-family: var(--font-primary);
  font-size: 1.3rem;
}

p {
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  line-height: 1.8;
}

a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--accent-color);
}

#sbLogoWrapper { 
  order:1; 
  max-width: 43vw;
  width: 100%;
}

#sbLogo {
  height: 100%;
}

#mainWrapper { 
  order:2; 
  max-width: 57vw; 
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto 0;
}

#metamaskLogo svg {
  margin-top: 2rem;
  width: 8rem;
  height: auto;
}

#spinner {
  position: relative;
  transform: translate(-50%, -50%) scale(3);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  user-select: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn, .hero-btn {
  border-radius: 2rem;
  margin-top: 1rem;
  border-color: transparent;
  width: 15rem;
}

.hidden {
  display: none;
}

.not-connected {
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.card {
  position: relative;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.mint-container {
  width: 80%;
  margin-top: 1rem;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.mint-qty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.mint-qty > span {
  display: flex;
}

.input-number, 
.input-number-decrement, 
.input-number-increment {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
