
/*
em  Relative to the font-size of the element (2em means 2 times the size of the current font) 
ex  Relative to the x-height of the current font (rarely used)  
ch  Relative to the width of the "0" (zero) 
rem Relative to font-size of the root element 
vw  Relative to 1% of the width of the viewport*  
vh  Relative to 1% of the height of the viewport* 
vmin  Relative to 1% of viewport's* smaller dimension 
vmax  Relative to 1% of viewport's* larger dimension  
% Relative to the parent element
*/

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=KoHo:wght@200;700&family=Share+Tech&display=swap');

:root {
  --font-primary: 'Jura', sans-serif;
  --font-secondary: 'KoHo', sans-serif;
  --font-code: 'Share Tech', sans-serif;
  --bg: linear-gradient(to bottom left, #0071b5, 80%, #FFFFFF);;
  --bg-color: #0071b5;
  --bg-color-transparent: #0071b580;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #333333;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--bg);
  display: flex;
  flex-flow: row;
  align-items: stretch;
  height: 100vh; /* 100% of the height of the viewport */
  color: var(--font-color);
  font-family: var(--font-primary);
}

#sbLogoWrapper { 
  order:1; 
  max-width: 40vw;
  width: 100%;
}

#sbLogo {
  height: 100%;
}

#mainWrapper { 
  order:2; 
  max-width: 60vw; 
  background: #00000050;
  width: 100%;
  text-align: center;
  padding: 5rem 20rem;
}

#metamaskLogo svg {
  margin-top: 2rem;
  width: 8rem;
  height: auto;
}

/*.not-connected {
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}*/

.not-connected h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-transform: uppercase;
  /*font-style: italic;*/
  font-size: 3.5rem;
}

.not-connected p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.8;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
}
